

:root {
    --azul: hsl(240, 20%, 54%);
    --rojo: hsl(0, 60%, 53%);
    --blanco: hsl(0, 0%, 100%);
    --grisClaro: hsl(225, 7%, 89%);
    --negroClaro: hsl(0, 0%, 12%);
    --negro: hsl(0, 0%, 0%);
    --amarillo: hsl(81, 70%, 56%);
}

/*-----------------------------GENERAL  */
* {
    padding: 0;
    margin: 0;        
    font-family: 'Poppins', sans-serif;
}

body {        
    background-color: var(--grisClaro);
    transition: .5s ease all;
}

a {
    cursor: pointer;    
    font-weight: 600;
}

button, .controlLike{
    cursor: pointer;
}

/*-----------------------------BOTON MODO NOCTURNO  */
.seccionBoton {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.onOff {
    margin: 0 50px;
    display: flex;
    background-color: var(--negro);
    border-radius: 1000px;
    border: none;
    position: relative;
    outline: none;
}

.onOff::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: var(--blanco);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.13);
}

.onOff.activo {
    background-color: var(--amarillo);
    }

.onOff.activo::after {
    left: unset;
    right: 0;
}

.onOff span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #ffffff;
}

/*-----------------------------BOTON ENVIAR  */
.botonEnviar {
    color: var(--blanco);
    background-color: var(--azul);
    border: none;
    padding: .75rem 1.5rem;
    margin-right: .5rem;
    border-radius: 10px;        
}

.contenedor {
    align-items: center;
    border-radius: 12px;
    padding: .8rem;
    background-color: var(--blanco);
    box-shadow: 2px 13px 19px -3px rgba(0,0,0,0.33);
    transition: .5s ease all;
}

.seccionComentarios {
    max-width: 40rem;
    margin: auto;    
}

.comentario {
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
        "score user controls"
        "score comentario comentario";
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    row-gap: .5rem;
}

.like {
    grid-area: score;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .75rem;    
    width: 1rem;
    box-sizing: initial;
    border-radius: 10px;        
    color: var(--blanco);        
    font-weight: 600;
    background-color: var(--azul);
}

.controlLike {
    width: 100%;    
}

.c-text {    
    grid-area: comentario;
    width: 100%;
    word-wrap: break-word
}

.usuario {
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 600;
}

p.nombreUsuario {    
    color: var(--azul);
}

.imagenUsuario {
    height: 2rem;
    width: 2rem;    
}

.c-controls {
    grid-area: controls;    
    display: flex;    
}

.c-controls a {
    align-items: center;
}

.editar,
.responder {
    color: var(--azul);
}

.editar {
    display: none;
}


.eliminar {
    color: var(--rojo);
    display: none;
    margin-right: 20px;
}

.control-icon {
    margin-right: .3rem;
}

.replies {
    margin-left: 2.5rem;
    padding-left: 5rem;
}


.inputContesta {
    display: grid;
    margin-bottom: 1rem;    
    grid-template-columns: min-content auto min-content;
    gap: 1rem;    
}

.inputContesta img {    
    height: 2.5rem;
    width: 2.5rem;
}

.inputContesta textarea {
    width: 98%;
    height: 45%;    
    padding: .5rem;
    border: none;
    border-radius: 10px;    
    resize: none;
    background-color: var(--grisClaro);    
    overflow: hidden;
    transition: .5s ease all;
}


.this-user .responder {
    display: none;
}

.this-user .editar,
.this-user .eliminar {
    display: flex;
}


/*------------------------------------------------------------------------ Phone */
@media screen and (max-width:640px) {

    .seccionComentarios {
        width: 95%;
    }

    .replies {
        padding-left: 1rem;
        margin-left: .5rem;
    }

    .comentario {
        grid-template-areas:
            "user user user"
            "comentario comentario comentario"
            "score score controls"
        ;
        gap: 0rem;
    }

    .c-text{
        margin: .5rem 0;
    }

    .contenedor{
padding: .5rem;
    }

    .like {
        flex-direction: row;
        width: 2.4rem;
        padding: .2rem;
        gap: .5rem;
    }

    .controlLike {
        width: 16px;
    }

    .inputContesta {     
        align-items: center;
        gap: .5rem;
    }

    .inputContesta img {
        height: 2rem;
        width: 2rem;
    }

    .inputContesta textarea {
        height: 6rem;
        padding: .5rem;
        align-self: stretch;
    }

    .c-body {
        font-weight: 400;
    }

    .imagenUsuario {
        margin-right: 0;
    }

    .botonEnviar {
        padding: .5rem 1rem;
        font-weight: 600;
        margin-right: 0px;
    }

    .inputContesta textarea {
        height: 1.3rem;
        width: 94%;
    }

}

/*-----------------------------------------------------------------------------  MODAL */
.paqueteModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 218, 218, 0.466);
}

.modal {
    padding: 1.5rem;
    max-width: 32ch;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "heading heading"
        "body body"
        "no yes";
}

.invisible {
    display: none;
}

.modal h3 {
    grid-area: heading;
    color: var(--negro); 
}

.modal button {
    color: var(--blanco);
    padding: .75rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.modal p {
    grid-area: body;
    color: var(--negro);
    line-height: 1.5;
}

.modal .si {
    grid-area: yes;
    background-color: var(--rojo);
}

.modal .no {
    background-color: var(--azul);
    grid-area: no;
}


/*-----------------------------------------------------------------------------  MODO OSCURO */
body.oscuro main div.seccionComentarios div.contenedor {
    background-color: var(--negro);
    box-shadow: 2px 13px 19px -3px rgba(0, 0, 0, 0.33);
}

body.oscuro main div.seccionComentarios div.paqueteDeComentarios div.contenedor {
    background-color: var(--negro);
    
}

body.oscuro main div.seccionComentarios div.paqueteDeComentarios div.paqueteComentario div.comentario {
    color: var(--blanco);    
}

body.oscuro {
    background-color: var(--negroClaro);
    
}

body.oscuro main div.seccionComentarios div.paqueteDeComentarios div.paqueteComentario div.replies div.contenedor .cmnt-input {
    background-color: var(--blanco);
}

body.oscuro main div.paqueteModal div.contenedor{
    background-color: var(--negro);
}


/*-----------------------------------------------------------------------------  MODAL(OSCURO) */
body.oscuro main div.paqueteModal div.contenedor h3{
    color: var(--blanco);
}

body.oscuro main div.paqueteModal div.contenedor p{
    color: var(--blanco);
}